{% extends 'base.html.twig' %}

{% block title %}Materiel
{% endblock %}

{% block body %}
	<div>
		<h3 class="text-lg font-medium leading-6 text-gray-900">{{ materiel.nom }}</h3>
		<dl class="mt-5 mb-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
			<div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
				<dt class="truncate text-sm font-medium text-gray-500">Nombre total</dt>
				<dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ materiel.nombreTotal }}</dd>
			</div>

			<div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
				<dt class="truncate text-sm font-medium text-gray-500">En stock</dt>
				<dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ materiel.enStock }}</dd>
			</div>

			<div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
				<dt class="truncate text-sm font-medium text-gray-500">En pret</dt>
				<dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ materiel.enPret }}</dd>
			</div>
		</dl>
		<a href="{{ path('app_materiel_index') }}" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Retour à la liste</a>
		<a href="{{ path('app_materiel_edit', {'id': materiel.id}) }}" class="inline-flex items-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">Éditer</a>
		<a href="" class="inline-flex items-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">{{ include('materiel/_delete_form.html.twig') }}</a>
	</div>
{% endblock %}
